@model WebGISQuangNam.Models.dataHelper.YKienQuyHoach

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutNormal.cshtml";
}

<h2>Details</h2>

<div>
    <h4>YKienQuyHoach</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenToChu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenToChu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DiaChi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DiaChi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DienThoai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DienThoai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NoiDungGopY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoiDungGopY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MaDoAn)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MaDoAn)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayLuu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayLuu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TrangThai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrangThai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NoiDungTraLoi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoiDungTraLoi)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
