@model WebGISQuangNam.Models.YKienQuyHoachModel

@{
    ViewBag.Title = "Danh sách ý kiến người dân";
    Layout = "~/Views/Shared/_LayoutNormal.cshtml";
}


<div class="container " style="margin-top:25px;">


    <div class="row">
        <div class="col-md-12">
            <h4>Danh sách ý kiến người dân</h4>
            <hr />
        </div>
    </div>


    @using (Html.BeginForm())
    {
        <div class="row">

            <div class="col-md-6">
                <select id="FillterID" name="FillterID" onchange="this.form.submit();" class="form-control">
                    <option value="" @(Model.fillterID == "" ? "selected=\"selected\"" : "")>Tìm theo định đồ án</option>
                    @foreach (var fill in ViewBag.LoaiHoSo)
                {
                        <option value="@fill.Value" @(Model.fillterID.ToString() == fill.Value.ToString() ? "selected=\"selected\"" : "")>
                            @fill.Text
                        </option>
                    }
                </select>
                <hidden name="SearchString" id="SearchString" />
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <table class="table table-bordered table-hover table-responsive">
                    <tr>
                        <th>
                            @Html.ActionLink("Tên", "Index", new
                   {
                       SearchString = Model.strSearch,
                       sortBy = 1,
                       isAsc = (Model.isAsc ? false : true),
                       PageSize = Model.PagingInfo.ItemsPerPage,
                       page = 1
                   })
                            @if (Model.isAsc && Model.sort == 1)
                            {
                                <span>
                                    <img src="/Content/images/arrow_down.png" alt="" />
                                </span>
                            }
                            @if (!Model.isAsc && Model.sort == 1)
                            {
                                <span>
                                    <img src="/Content/images/arrow_up.png" alt="" />
                                </span>
                            }
                        </th>
                        <th>
                            Điện thoại
                        </th>
                        <th>
                            Email
                        </th>
                        <th>
                            @Html.ActionLink("Đồ án", "Index", new
                   {
                       SearchString = Model.strSearch,
                       sortBy = 2,
                       isAsc = (Model.isAsc ? false : true),
                       PageSize = Model.PagingInfo.ItemsPerPage,
                       page = 1
                   })
                            @if (Model.isAsc && Model.sort == 1)
                            {
                                <span>
                                    <img src="/Content/images/arrow_down.png" alt="" />
                                </span>
                            }
                            @if (!Model.isAsc && Model.sort == 1)
                            {
                                <span>
                                    <img src="/Content/images/arrow_up.png" alt="" />
                                </span>
                            }
                        </th>
                        <th>
                            @Html.ActionLink("Ngày", "Index", new
                   {
                       SearchString = Model.strSearch,
                       sortBy = 3,
                       isAsc = (Model.isAsc ? false : true),
                       PageSize = Model.PagingInfo.ItemsPerPage,
                       page = 1
                   })
                            @if (Model.isAsc && Model.sort == 1)
                            {
                                <span>
                                    <img src="/Content/images/arrow_down.png" alt="" />
                                </span>
                            }
                            @if (!Model.isAsc && Model.sort == 1)
                            {
                                <span>
                                    <img src="/Content/images/arrow_up.png" alt="" />
                                </span>
                            }
                        </th>
                        @*<th>
                            @Html.ActionLink("Trạng thái", "Index", new
                   {
                       SearchString = Model.strSearch,
                       sortBy = 4,
                       isAsc = (Model.isAsc ? false : true),
                       PageSize = Model.PagingInfo.ItemsPerPage,
                       page = 1
                   })
                            @if (Model.isAsc && Model.sort == 1)
                            {
                                <span>
                                    <img src="/Content/images/arrow_down.png" alt="" />
                                </span>
                            }
                            @if (!Model.isAsc && Model.sort == 1)
                            {
                                <span>
                                    <img src="/Content/images/arrow_up.png" alt="" />
                                </span>
                            }
                        </th>*@
                        <th></th>
                    </tr>

                    @foreach (var item in Model.YKienQuyHoachs)
                {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.TenToChu)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DienThoai)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.TenDoAn)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.NgayLuu)
                            </td>
                            @*<td>
                                @Html.DisplayFor(modelItem => item.TrangThai)
                            </td>*@
                            <td>
                                @Html.ActionLink("Trả lời", "Edit", new { id = item.id }) |
                                @Html.ActionLink("Xóa", "Delete", new { id = item.id })
                            </td>
                        </tr>
                    }

                </table>

            </div>
        </div>


        <div class="row">
            <div class="col-md-6">
                <nav aria-label="Page navigation">
                    @if (Model.YKienQuyHoachs.Count() > 0)
                {
                        <ul class="pagination">
                            @Html.Paging(Model.PagingInfo, x => Url.Action("Index", new
                   {
                       SearchString = Model.strSearch,
                       sortBy = Model.sort,
                       isAsc = Model.isAsc,
                       PageSize = Model.PagingInfo.ItemsPerPage,
                       page = x
                   }))
                        </ul>
                    }
                </nav>
            </div>
            <div class="col-md-6">
                <select id="PageSize" name="PageSize" onchange="this.form.submit();" class="form-control pull-right" style="margin: 20px 0;">
                    <option value="10" @(Model.PagingInfo.ItemsPerPage == 10 ? "selected=\"selected\"" : "")>10 dòng dữ liệu</option>
                    <option value="15" @(Model.PagingInfo.ItemsPerPage == 15 ? "selected=\"selected\"" : "")>15 dòng dữ liệu</option>
                    <option value="20" @(Model.PagingInfo.ItemsPerPage == 20 ? "selected=\"selected\"" : "")>20 dòng dữ liệu</option>
                    <option value="50" @(Model.PagingInfo.ItemsPerPage == 50 ? "selected=\"selected\"" : "")>50 dòng dữ liệu</option>
                    <option value="100" @(Model.PagingInfo.ItemsPerPage == 100 ? "selected=\"selected\"" : "")>100 dòng dữ liệu</option>
                </select>

            </div>
        </div>

    }

</div>