<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta charset="ISO-8859-1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title </title>
    <link rel="shorcut icon" type="image/x-ico" href="~/Content/logo.ico" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/font-awesome-4.7.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/formsite.css" rel="stylesheet" />

</head>
<body>


    <div id="header">
        <div id="headerTop">
            <div class="wbypercent_5" id="headerTop_left" style="">
                <img src="~/Content/img/LOGO.jpg" style="width:100%;height:100%;margin-top:-3px;" />
            </div>
            <div style="width:95%; float:right;" id="headerTop_right">
                <h1>
                    <span class="small_h1">HỆ THỐNG THÔNG TIN ĐỊA LÝ</span> QUY HOẠCH XÂY DỰNG TỈNH QUẢNG NAM
                </h1>
            </div>
        </div>
    </div>
    <div id="subMain">
        <h6>QUY HOẠCH XÂY DỰNG TỈNH QUẢNG NAM</h6>
    </div>

    @RenderBody()
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    @{
        string user = "Khách";
        if (Request.IsAuthenticated)
        {
            if (User.Identity.Name != null)
            {
                user = User.Identity.Name;

                <div id="welcomenguoidung">
                    Xin chào <br /> @user <br />
                    <a class="btn-primary label pull-right" href="@Url.Action("changePass", "Home")"> Đổi <br/> mật khẩu</a> <br />
                    <a class="btn-warning label pull-right" href="@Url.Action("Logout", "Home")"> Đăng xuất</a>

                </div>
                <a class="btn-danger label pull-right" id="backMapPage" title="" href="@Url.Action("Index","Home")">
                    Quay lại <br /> bản đồ
                </a>

            }
        }
    }

</body>
</html>
