@using WebGISQuangNam.Models.dataHelper
@{
    ViewBag.Title = "Viện Quy Hoạch Đô Thị và Nông Thôn Quảng Nam";
}


<div class="box-body padding">

    <div id="mapDiv">

        <div id="navToolbar" data-dojo-type="dijit/Toolbar">
            <div data-dojo-type="dijit/form/Button" id="zoomfullext" data-dojo-props="iconClass:'zoomfullextIcon'"></div>
            <div data-dojo-type="dijit/form/Button" id="zoomin" data-dojo-props="iconClass:'zoominIcon'"></div>
            <div data-dojo-type="dijit/form/Button" id="zoomout" data-dojo-props="iconClass:'zoomoutIcon'"></div>
            <div data-dojo-type="dijit/form/Button" id="zoomprev" data-dojo-props="iconClass:'zoomprevIcon'"></div>
            <div data-dojo-type="dijit/form/Button" id="zoomnext" data-dojo-props="iconClass:'zoomnextIcon'"></div>
            <div data-dojo-type="dijit/form/Button" id="pan" data-dojo-props="iconClass:'panIcon'"></div>
            <div data-dojo-type="dijit/form/Button" id="deactivate" data-dojo-props="iconClass:'deactivateIcon'"></div>
        </div>
        <div id="choiceMapData">
            <img src="~/Content/img/map.png" />
        </div>
        <div id="LocateButtonEsri"></div>
        <div id="HomeButton"></div>
        <div id="inforMapData">
            <i class="fa fa-info-circle" aria-hidden="true"></i>
        </div>
        <div id="LocateButton"><i class="fa fa-bullseye" aria-hidden="true"></i></div>
        <div id="layerMapData"><i class="fa fa-server" aria-hidden="true"></i></div>
        <div id="maxMapData"><i class="fa fa-arrows-alt" aria-hidden="true"></i></div>
        <div class="panel panel-info panel_control" id="legendDiv_panel">
            <div class="panel-heading">
                <h3 class="panel-title">Chú giải</h3>
                <span class="btn-danger label pull-right closePanel" title="Đóng"><i class="fa fa-times" aria-hidden="true"></i></span>
            </div>
            <div class="panel-body">
                <div id="legendDiv"></div>
            </div>
        </div>

        <div class="panel panel-info panel_control" id="basemapGalleryDiv_panel">
            <div class="panel-heading">
                <h3 class="panel-title">Bản đồ nền</h3>
                <span class="btn-danger label pull-right closePanel" title="Đóng"><i class="fa fa-times" aria-hidden="true"></i></span>
            </div>
            <div class="panel-body">
                <div id="basemapGalleryDiv"></div>
            </div>
        </div>

        <div class="panel panel-info panel_control" id="measurementDiv_panel">
            <div class="panel-heading">
                <h3 class="panel-title">Công cụ đo đạc</h3>
                <span id="close-measure" class="btn-danger label pull-right closePanel" title="Đóng"><i class="fa fa-times" aria-hidden="true"></i></span>
            </div>
            <div class="panel-body">
                <div id="measurementDiv"></div>
            </div>
        </div>

        <div class="panel panel-info panel_control" style="width:180px;" id="printDiv_panel">
            <div class="panel-heading">
                <h3 class="panel-title">In bản đồ</h3>
                <span class="btn-danger label pull-right closePanel" title="Đóng"><i class="fa fa-times" aria-hidden="true"></i></span>
            </div>
            <div class="panel-body" style="text-align: center;">
                <span class="btn" id="print_button"></span>
            </div>
        </div>

        <div class="panel panel-info panel_control" id="listLayer_panel">
            <div class="panel-heading">
                <h3 class="panel-title">Các lớp dữ liệu</h3>
                <span class="btn-danger label pull-right closePanel" title="Đóng"><i class="fa fa-times" aria-hidden="true"></i></span>
            </div>
            <div class="panel-body">
                <div id="listLayer">
                </div>
            </div>
        </div>
        <div class="panel panel-info panel_control" id="TraCuuDoAnQuyHoach_panel">
            <div class="panel-heading">
                <h3 class="panel-title">Tra cứu theo đồ án quy hoạch</h3>
                <span class="btn-danger label pull-right closePanel" title="Đóng"><i class="fa fa-times" aria-hidden="true"></i></span>
            </div>
            @{
                List<HANHCHINHHUYEN> hanhChinh = (List<HANHCHINHHUYEN>)ViewBag.QuanHuyen;
                HANHCHINHHUYEN quan;

                List<Domain> listDomain = (List<Domain>)ViewBag.DMLoaiQuyHoach;
                Domain domain;

            }
            <div class="panel-body">
                <div>
                    <select id="TraCuuDoAnQuyHoach_quanhuyen">
                        <option value="">Huyện / Thành phố / Thị Xã</option>
                        @if (hanhChinh != null)
                        {
                            for (int i = 0; i < hanhChinh.Count(); i++)
                            {
                                quan = hanhChinh[i];
                                <option value="@quan.MaHuyen">@quan.TenQuan</option>
                            }
                        }
                    </select>
                    <select id="TraCuuDoAnQuyHoach_phuongxa">
                        <option value="">Xã/Phường/Thị Trấn</option>
                    </select>
                    <select id="TraCuuDoAnQuyHoach_loaiquyhoach">
                        <option value="">Loại quy hoạch</option>
                        @if (listDomain != null)
                        {
                            for (int i = 0; i < listDomain.Count(); i++)
                            {
                                domain = listDomain[i];
                                <option value="@domain.code">@domain.value</option>
                            }
                        }
                    </select>
                    <input id="TraCuuDoAnQuyHoach_tendoan" placeholder="Tên đồ án" />
                    <button title="Tìm" id="TraCuuDoAnQuyHoach_tim" class="btn btn-primary pull-right">Tìm</button>
                </div>
            </div>
        </div>

        <div class="panel panel-info panel_control" id="TraCuuHoTroCapPhep_panel">
            <div class="panel-heading">
                <h3 class="panel-title">Hỗ trợ xin/cấp phép xây dựng</h3>
                <span class="btn-danger label pull-right closePanel" title="Đóng"><i class="fa fa-times" aria-hidden="true"></i></span>
            </div>
            <div class="panel-body">
                <select id="TraCuuHoTroCapPhep_quanhuyen">
                    <option value="">Huyện / Thành phố / Thị Xã</option>
                    @if (hanhChinh != null)
                    {
                        for (int i = 0; i < hanhChinh.Count(); i++)
                        {
                            quan = hanhChinh[i];
                            <option value="@quan.MaHuyen">@quan.TenQuan</option>
                        }
                    }
                </select>
                <select id="TraCuuHoTroCapPhep_phuongxa">
                    <option value="">Chọn Xã/Phường/Thị Trấn</option>
                </select>
                <input id="TraCuuHoTroCapPhep_tendoan" placeholder="Tên đồ án" />
                @*<input  placeholder="Loại đất" />*@
                <select id="TraCuuHoTroCapPhep_LoaiDat">
                    <option value="">Loại đất</option>
                    @{
                        List<Domain> listDMLoaiDat = ViewBag.DMLoaiDat;
                        if (listDMLoaiDat != null)
                        {
                            for (int i = 0; i < listDMLoaiDat.Count; i++)
                            {
                                <option value="@listDMLoaiDat[i].code">@listDMLoaiDat[i].value</option>
                            }
                        }
                    }
                </select>

                <input id="TraCuuHoTroCapPhep_kyhieukhudat" placeholder="Kí hiệu khu đất" />
                <input id="TraCuuHoTroCapPhep_kyhieulodat" placeholder="Kí hiệu lô đất" />
                <button type="button" title="Tìm" id="TraCuuHoTroCapPhep_tim" class="btn btn-primary pull-right">Tìm</button>
            </div>
        </div>

        <div class="panel panel-info panel_control" id="LuaChonDiaDiemDauTu_panel">
            <div class="panel-heading">
                <h3 class="panel-title">Lựa chọn địa điểm đầu tư</h3>
                <span class="btn-danger label pull-right closePanel" title="Đóng"><i class="fa fa-times" aria-hidden="true"></i></span>
            </div>
            <div class="panel-body">
                <select id="LuaChonDiaDiemDauTu_quanhuyen">
                    <option value="">Huyện / Thành phố / Thị Xã</option>
                    @if (hanhChinh != null)
                    {
                        for (int i = 0; i < hanhChinh.Count(); i++)
                        {
                            quan = hanhChinh[i];
                            <option value="@quan.MaHuyen">@quan.TenQuan</option>
                        }
                    }
                </select>
                <select id="LuaChonDiaDiemDauTu_phuongxa">
                    <option value="">Xã/Phường/Thị Trấn</option>
                </select>
                @*<input id="" placeholder="Loại đất" />*@
                <select id="LuaChonDiaDiemDauTu_loaidat">
                    <option value="">Loại đất</option>
                    @{
                        List<Domain> listDMLoaiDat1 = ViewBag.DMLoaiDat;
                        if (listDMLoaiDat1 != null)
                        {
                            for (int i = 0; i < listDMLoaiDat1.Count; i++)
                            {
                                <option value="@listDMLoaiDat1[i].code">@listDMLoaiDat1[i].value</option>
                            }
                        }
                    }
                </select>
                <input id="LuaChonDiaDiemDauTu_kyhieulodat" placeholder="Kí hiệu lô đất" />
                <div class="clearfix"></div>
                <div style="clear:both">
                    <div style="width:50%; float:left">
                        <input id="LuaChonDiaDiemDauTu_dientichtu" placeholder="Diện tích từ" />
                    </div>

                    <div style="width:50%; float:right">
                        <input id="LuaChonDiaDiemDauTu_dientichden" placeholder="Diện tích đến" />
                    </div>
                </div>
                <div class="clearfix"></div>
                <div style="clear:both">
                    <div style="width:50%; float:left">
                        <input id="LuaChonDiaDiemDauTu_khoangcachtu" placeholder="Khoảng cách từ" />
                    </div>

                    <div style="width:50%; float:right">
                        <input id="LuaChonDiaDiemDauTu_khoangcachden" placeholder="Không quá" />
                    </div>
                </div>
                <div class="clearfix"></div>
                so với
                <select id="LuaChonDiaDiemDauTu_sovoi">
                    <option value=""></option>
                    <option value="sbDaNang">Sân bay Đà nẵng</option>
                    <option value="sbChuLai">Sân bay Chu lai</option>
                    <option value="cangKyHa">Cảng kỳ Hà </option>
                    <option value="tpHoiAn">Tp Hội An</option>
                    <option value="ckNamGiang">Cửa khẩu Nam Giang</option>
                </select>

                <button type="button" title="Tìm" id="LuaChonDiaDiemDauTu_tim" class="btn btn-primary pull-right">Tìm</button>
            </div>
        </div>

        <div class="panel panel-info panel_control" id="ResultDataSearch">
            <div class="panel-body" id="ResultDataSearchContent">
            </div>
        </div>

        <!-- Left panel -->
    <div class="panel left-panel" id="panel_QHC" style="display: none;">
        <div class="group-heading">
            <div class="group-title">Danh mục hồ sơ</div>
            <span class="btn-danger label pull-right closePanel" title="Đóng"><i class="fa fa-times" aria-hidden="true"></i></span>
        </div>
        <div class="item-container" id="QHC"> 
        </div>              
        
    </div>

</div>
<!-- /.row -->



<div id="loadIdealForm" style="display:none;">
    <div class="container-fluid">
        <div class="row">
            <iframe id="viewDocFormData" src=""></iframe>
        </div>
        <div class="row">
            <div class="">
                <textarea id="txtYKien" placeholder="Nhập ý kiến của bạn" rows="5" style="max-width:none;"></textarea>
            </div>
        </div>
    </div>
    <button id="backMapPage" class="btn btn-danger">Đóng</button>
    @*<span class="label label-danger" id="">Trở lại <br /><br /> bản đồ</span><span class="label label-danger" id=""><br /><br /></span>*@
</div>


<div id="loadIdealForm2" style="display:none;">
    <div class="container-fluid">
        <div class="row">
            <iframe id="viewDocFormData2" src=""></iframe>
        </div>
    </div>
    <button id="backMapPage2" class="btn btn-danger">Đóng</button>
    @*<span class="label label-danger" id="">Trở lại <br /><br /> bản đồ</span><span class="label label-danger" id=""><br /><br /></span>*@
</div>

<div id="loadIdealReviewForm" style="display:none;">
        <iframe id="loadIdealReviewFormData" src=""></iframe>
    <span class="label label-danger" id="backMapOK">Trở lại <br /><br /> bản đồ</span>
</div>


@section scripts
{
    <script src="/Scripts/ditagis/map.js"></script> 
    <script type="text/javascript">

        $(document).ready(function () {


            var height = $("#loadIdealReviewForm").height() - 10;

            $("#loadIdealReviewFormData").css("height", height + "px");

            var hei = $(window).height() - 10;
            $("#viewDocFormData2").css("height", hei + "px");
            

            var idDoc = 0;


            $(".item_congbo").on("click", function () {
                var link = $(this).attr("alt");
                $("#viewDocFormData2").attr("src", link);
                $("#loadIdealForm2").css("display", "block");
            });

            $(".viewLayYKien").on("click", function () {
                var link = $(this).attr("alt");
                idDoc = $(this).attr("title");
                $("#viewDocFormData").attr("src", link);
                $("#loadIdealForm").css("display", "block");
            });


            $("#backMapPage2").click(function () {
                $("#loadIdealForm2").css("display", "none");
            });

            $("#backMapPage").click(function () {

                var yKien = $("#txtYKien").val();

                if (yKien) {
                    if (yKien.trim().length > 0) {
                        var url = "/Home/addYKienNguoiDan";
                        $.ajax({
                            type: "POST",
                            url: url,
                            data: { id: idDoc, yKien: yKien },
                            cache: false,
                            success: function (results) {
                                $("#loadingpageDiv").css("display", "none");
                                $("#txtYKien").val("");
                            },
                            error: function (reponse) {
                                //alert("error : " + reponse.responseText);
                                $("#loadingpageDiv").css("display", "none");
                            }
                        });
                    }
                }

                $("#loadIdealForm").css("display", "none");
            });


            $(".openDongGopYKien").click(function () {

                var macode = $(this).attr('alt');

                var maDoAn = macode.split("#")[0];
                var loaiDoAn = macode.split("#")[1];
                
                var link = "/Home/reviewYKienNguoiDan?madoan=" + maDoAn + "&loaiDoAn=" + loaiDoAn;

                $("#loadIdealReviewFormData").attr("src", link);
                $("#loadIdealReviewForm").css("display", "block");


                //var win = window.open(link, '_blank');
                //if (win) {
                //    //Browser has allowed it to be opened
                //    win.focus();
                //} else {
                //    //Browser has blocked it
                //    alert('Vui lòng cho phép trình duyệt mở thêm cửa sổ');
                //}


            });

            $("#backMapOK").click(function () {
                $("#loadIdealReviewForm").css("display", "none");
            });

        });
    </script>
}
