@using WebGISQuangNam.Models.dataHelper
@{
    ViewBag.Title = "Viện Quy Hoạch Đô Thị và Nông Thôn Quảng Nam";
}

<div class="box-body padding">

    <div id="mapDiv">

        <div id="navToolbar" data-dojo-type="dijit/Toolbar">
            <div data-dojo-type="dijit/form/Button" id="zoomfullext" data-dojo-props="iconClass:'zoomfullextIcon'"></div>
            <div data-dojo-type="dijit/form/Button" id="zoomin" data-dojo-props="iconClass:'zoominIcon'"></div>
            <div data-dojo-type="dijit/form/Button" id="zoomout" data-dojo-props="iconClass:'zoomoutIcon'"></div>
            <div data-dojo-type="dijit/form/Button" id="zoomprev" data-dojo-props="iconClass:'zoomprevIcon'"></div>
            <div data-dojo-type="dijit/form/Button" id="zoomnext" data-dojo-props="iconClass:'zoomnextIcon'"></div>
            <div data-dojo-type="dijit/form/Button" id="pan" data-dojo-props="iconClass:'panIcon'"></div>
            <div data-dojo-type="dijit/form/Button" id="deactivate" data-dojo-props="iconClass:'deactivateIcon'"></div>
        </div>
        <div id="choiceMapData">
            <img src="~/Content/img/map.png" />
        </div>
        <div id="LocateButtonEsri"></div>
        <div id="HomeButton"></div>
        <div id="inforMapData">
            <i class="fa fa-info-circle" aria-hidden="true"></i>
        </div>
        <div id="LocateButton"><i class="fa fa-bullseye" aria-hidden="true"></i></div>
        <div id="layerMapData"><i class="fa fa-server" aria-hidden="true"></i></div>
        <div id="maxMapData"><i class="fa fa-arrows-alt" aria-hidden="true"></i></div>
        <div class="panel panel-info panel_control" id="legendDiv_panel">
            <div class="panel-header">
                <h3 class="panel-title">Chú giải</h3>
                <span class="btn-danger label pull-right closePanel" title="Đóng"><i class="fa fa-times" aria-hidden="true"></i></span>
            </div>
            <div class="panel-body">
                <div id="legendDiv"></div>
            </div>
        </div>

        <div class="panel panel-info panel_control" id="basemapGalleryDiv_panel">
            <div class="panel-header">
                <h3 class="panel-title">Bản đồ nền</h3>
                <span class="btn-danger label pull-right closePanel" title="Đóng"><i class="fa fa-times" aria-hidden="true"></i></span>
            </div>
            <div class="panel-body">
                <div id="basemapGalleryDiv"></div>
            </div>
        </div>

        <div class="panel panel-info panel_control" id="measurementDiv_panel">
            <div class="panel-header">
                <h3 class="panel-title">Công cụ đo đạc</h3>
                <span id="close-measure" class="btn-danger label pull-right closePanel" title="Đóng"><i class="fa fa-times" aria-hidden="true"></i></span>
            </div>
            <div class="panel-body">
                <div id="measurementDiv"></div>
            </div>
        </div>

        <div class="panel panel-info panel_control" style="width:180px;" id="printDiv_panel">
            <div class="panel-header">
                <h3 class="panel-title">In bản đồ</h3>
                <span class="btn-danger label pull-right closePanel" title="Đóng"><i class="fa fa-times" aria-hidden="true"></i></span>
            </div>
            <div class="panel-body" style="text-align: center;">
                <span class="btn" id="print_button"></span>
            </div>
        </div>

        <div class="panel panel-info panel_control" id="listLayer_panel">
            <div class="panel-header">
                <h3 class="panel-title">Các lớp dữ liệu</h3>
                <span class="btn-danger label pull-right closePanel" title="Đóng"><i class="fa fa-times" aria-hidden="true"></i></span>
            </div>
            <div class="panel-body">
                <div class="esriLayerList">
                    <input type='checkbox' class='esriCheckbox list_item' id='toogleLayerList' value=0 />
                    <label class="esriLabel" for="toogleLayerList">Ẩn/ hiển thị tất cả các lớp dữ liệu</label>
                </div>
                <div class="esriLayerList">
                    <input type='checkbox' class='esriCheckbox list_item' id='toogleLayerList_QHVT' value=0 />
                    <div tabindex="0" id="open-layer-list-qhvt" role="button" data-layer-index="5" title="Mở rộng" class="esriToggleButton esri-icon-right toggle-qhvt"></div>
                    <label class="esriLabel" for="toogleLayerList_QHVT">Xem thông tin QHV-Tỉnh</label>
                    <div id="listLayer_QHVT">
                    </div>  
                </div>
                <div id="listLayer">
                </div>
            </div>
        </div>
        <div class="panel panel-info panel_control" id="TraCuuDoAnQuyHoach_panel">
            <div class="panel-header">
                <h3 class="panel-title">Tra cứu theo đồ án quy hoạch</h3>
                <span class="btn-danger label pull-right closePanel" title="Đóng"><i class="fa fa-times" aria-hidden="true"></i></span>
            </div>
            @{
                List<HANHCHINHHUYEN> hanhChinh = (List<HANHCHINHHUYEN>)ViewBag.QuanHuyen;
                HANHCHINHHUYEN quan;

                List<Domain> listDomain = (List<Domain>)ViewBag.DMLoaiQuyHoach;
                Domain domain;

            }
            <div class="panel-body">
                <div>
                    <select id="TraCuuDoAnQuyHoach_quanhuyen" class="input-select">
                        @if (hanhChinh != null)
                        {
                            for (int i = 0; i < hanhChinh.Count(); i++)
                            {
                                quan = hanhChinh[i];
                                <option value="@quan.MaHuyen">@quan.TenQuan</option>
                            }
                        }
                    </select>
                    <select id="TraCuuDoAnQuyHoach_phuongxa" class="input-select">
                    </select>
                    <select id="TraCuuDoAnQuyHoach_loaiquyhoach" class="input-select">
                        @if (listDomain != null)
                        {
                            for (int i = 0; i < listDomain.Count(); i++)
                            {
                                domain = listDomain[i];
                                <option value="@domain.code">@domain.value</option>
                            }
                        }
                    </select>
                    <select id="TraCuuDoAnQuyHoach_tendoan" class="input-select">
                    @{
                        List<String> lstTenDoAnQH = ViewBag.TenDoAn;
                        if (lstTenDoAnQH != null)
                        {
                            for (int i = 0; i < lstTenDoAnQH.Count; i++)
                            {
                                <option value="@lstTenDoAnQH[i]">@lstTenDoAnQH[i]</option>
                            }
                        }
                    }
                    </select>
                    <button title="Tìm" id="TraCuuDoAnQuyHoach_tim" class="k-primary input-button">Tìm</button>
                </div>
            </div>
        </div>

        <div class="panel panel-info panel_control" id="TraCuuHoTroCapPhep_panel">
            <div class="panel-header">
                <h3 class="panel-title">Hỗ trợ xin/cấp phép xây dựng</h3>
                <span class="btn-danger label pull-right closePanel" title="Đóng"><i class="fa fa-times" aria-hidden="true"></i></span>
            </div>
            <div class="panel-body">
                <select id="TraCuuHoTroCapPhep_quanhuyen" class="input-select">
                    @if (hanhChinh != null)
                    {
                        for (int i = 0; i < hanhChinh.Count(); i++)
                        {
                            quan = hanhChinh[i];
                            <option value="@quan.MaHuyen">@quan.TenQuan</option>
                        }
                    }
                </select>
                <select id="TraCuuHoTroCapPhep_phuongxa" class="input-select">
                </select>
                <!-- <input id="TraCuuHoTroCapPhep_tendoan" placeholder="Tên đồ án" /> -->
                <select id="TraCuuHoTroCapPhep_tendoan" class="input-select">
                    @{
                        List<String> lstTenDoAn = ViewBag.TenDoAn;
                        if (lstTenDoAn != null)
                        {
                            for (int i = 0; i < lstTenDoAn.Count; i++)
                            {
                                <option value="@lstTenDoAn[i]">@lstTenDoAn[i]</option>
                            }
                        }
                    }
                </select>
                <select id="TraCuuHoTroCapPhep_LoaiDat" class="input-select">
                    @{
                        List<Domain> listDMLoaiDat = ViewBag.DMLoaiDat;
                        if (listDMLoaiDat != null)
                        {
                            for (int i = 0; i < listDMLoaiDat.Count; i++)
                            {
                                <option value="@listDMLoaiDat[i].code">@listDMLoaiDat[i].value</option>
                            }
                        }
                    }
                </select>

                <input id="TraCuuHoTroCapPhep_kyhieukhudat" placeholder="Kí hiệu khu đất" class="input-textbox"/>
                <input id="TraCuuHoTroCapPhep_kyhieulodat" placeholder="Kí hiệu lô đất" class="input-textbox" />
                <button type="button" title="Tìm" id="TraCuuHoTroCapPhep_tim" class="k-primary input-button">Tìm</button>
            </div>
        </div>

        <div class="panel panel-info panel_control" id="LuaChonDiaDiemDauTu_panel">
            <div class="panel-header">
                <h3 class="panel-title">Lựa chọn địa điểm đầu tư</h3>
                <span class="btn-danger label pull-right closePanel" title="Đóng"><i class="fa fa-times" aria-hidden="true"></i></span>
            </div>
            <div class="panel-body">
                <select id="LuaChonDiaDiemDauTu_quanhuyen"  class="input-select">
                    <option value="">Huyện / Thành phố / Thị Xã</option>
                    @if (hanhChinh != null)
                    {
                        for (int i = 0; i < hanhChinh.Count(); i++)
                        {
                            quan = hanhChinh[i];
                            <option value="@quan.MaHuyen">@quan.TenQuan</option>
                        }
                    }
                </select>
                <select id="LuaChonDiaDiemDauTu_phuongxa"  class="input-select">
                </select>
                <select id="LuaChonDiaDiemDauTu_loaidat"  class="input-select">
                    @{
                        List<Domain> listDMLoaiDat1 = ViewBag.DMLoaiDat;
                        if (listDMLoaiDat1 != null)
                        {
                            for (int i = 0; i < listDMLoaiDat1.Count; i++)
                            {
                                <option value="@listDMLoaiDat1[i].code">@listDMLoaiDat1[i].value</option>
                            }
                        }
                    }
                </select>
                <input id="LuaChonDiaDiemDauTu_kyhieulodat" placeholder="Kí hiệu lô đất" class="input-textbox"/>
                <div class="clearfix"></div>
                <div style="clear:both;width:99%">
                    <div style="width:49%; float:left">
                        <input id="LuaChonDiaDiemDauTu_dientichtu" placeholder="Diện tích từ" class="input-textbox"/>
                    </div>

                    <div style="width:49%; float:right">
                        <input id="LuaChonDiaDiemDauTu_dientichden" placeholder="Diện tích đến" class="input-textbox"/>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div style="clear:both;width:99%">
                    <div style="width:49%; float:left">
                        <input id="LuaChonDiaDiemDauTu_khoangcachtu" placeholder="Khoảng cách từ" class="input-textbox"/>
                    </div>

                    <div style="width:49%; float:right">
                        <input id="LuaChonDiaDiemDauTu_khoangcachden" placeholder="Không quá" class="input-textbox"/>
                    </div>
                </div>
                <div class="clearfix"></div>
                <select id="LuaChonDiaDiemDauTu_sovoi"  class="input-select">
                    <option value="sbDaNang">Sân bay Đà nẵng</option>
                    <option value="sbChuLai">Sân bay Chu lai</option>
                    <option value="cangKyHa">Cảng kỳ Hà </option>
                    <option value="tpHoiAn">Tp Hội An</option>
                    <option value="ckNamGiang">Cửa khẩu Nam Giang</option>
                </select>

                <button type="button" title="Tìm" id="LuaChonDiaDiemDauTu_tim" class="k-primary input-button">Tìm</button>
            </div>
        </div>

        <div class="panel panel-info panel_control" id="ResultDataSearch">
            <div class="panel-body" id="ResultDataSearchContent">
            </div>
        </div>

        <!-- Left panel -->
    <div class="panel left-panel panel-info panel_control" id="panel_QHC" style="display: none;">
        <div class="panel-header">
            <div class="panel-title">Danh mục hồ sơ</div>
            <span class="btn-danger label pull-right closePanel" title="Đóng"><i class="fa fa-times" aria-hidden="true"></i></span>
        </div>
        <div class="item-container" id="QHC"> 
        </div>              
        
    </div>

</div>
<!-- /.row -->



<div id="loadIdealForm" style="display:none;">
    <div class="container-fluid">
        <div class="row">
            <iframe id="viewDocFormData" src=""></iframe>
        </div>
        <div class="row yKienGroup">
            <div class="">
                <textarea id="txtYKien" placeholder="Nhập ý kiến của bạn" rows="5" style="max-width:none;"></textarea>
                <button type="button" id="btnSubmitYKien" class="k-primary">Cập nhật ý kiến vào phiếu góp ý</button>
            </div>
        </div>
    </div>
    <button id="backMapPage" class="btn btn-danger">Đóng</button>
</div>


<div id="loadIdealForm2" style="display:none;">
    <div class="container-fluid">
        <div class="row">
            <iframe id="viewDocFormData2" src=""></iframe>
        </div>
    </div>
    <button id="backMapPage2" class="btn btn-danger">Đóng</button>
    @*<span class="label label-danger" id="">Trở lại <br /><br /> bản đồ</span><span class="label label-danger" id=""><br /><br /></span>*@
</div>

<div id="loadIdealReviewForm" style="display:none;">
        <iframe id="loadIdealReviewFormData" src=""></iframe>
    <span class="label label-danger" id="backMapOK">Trở lại <br /><br /> bản đồ</span>
</div>


@section scripts
{
    <script src="/Scripts/ditagis/map.js"></script> 
    <script type="text/javascript">

        $(document).ready(function () {
            var height = $("#loadIdealReviewForm").height() - 10;

            $("#loadIdealReviewFormData").css("height", height + "px");

            var hei = $(window).height() - 10;
            $("#viewDocFormData2").css("height", hei + "px");
            var idDoc = 0;
            $("#backMapPage2").click(function () {
                $("#loadIdealForm2").css("display", "none");
            });

            $("#btnSubmitYKien").click(function () {
                var yKien = $("#txtYKien").val();
                var idDoc = $("#viewDocFormData").attr("idDoc");
                if (yKien) {
                    if (yKien.trim().length > 0) {
                        var url = "/Home/addYKienNguoiDan";
                        $.ajax({
                            type: "POST",
                            url: url,
                            data: { id: idDoc, yKien: yKien },
                            cache: false,
                            success: function (results) {
                                $("#txtYKien").val("");
                            },
                            error: function (reponse) {
                                $("#loadingpageDiv").css("display", "none");
                            }
                        });
                    }
                }
            });
            $("#backMapPage").click(function () {
                $("#loadIdealForm").css("display", "none");
            });

            $("#backMapOK").click(function () {
                $("#loadIdealReviewForm").css("display", "none");
            });
            //TraCuuDoAnQuyHoach
            $("#TraCuuDoAnQuyHoach_quanhuyen").kendoDropDownList({
                optionLabel: "Huyện, thành phố, thị xã"
            }).data("kendoDropDownList").select(0);
            $("#TraCuuDoAnQuyHoach_phuongxa").kendoDropDownList({
            }).data("kendoDropDownList").select(0);
            $("#TraCuuDoAnQuyHoach_loaiquyhoach").kendoDropDownList({
                optionLabel: "Loại quy hoạch"
            }).data("kendoDropDownList").select(0);
            $("#TraCuuDoAnQuyHoach_tendoan").kendoDropDownList({
                optionLabel: "Tên đồ án"
            }).data("kendoDropDownList").select(0);
            //Tra cứu hỗ trợ cấp phép
            $("#TraCuuHoTroCapPhep_quanhuyen").kendoDropDownList({
                optionLabel: "Huyện, thành phố, thị xã"
            }).data("kendoDropDownList").select(0);
            $("#TraCuuHoTroCapPhep_phuongxa").kendoDropDownList({
            }).data("kendoDropDownList").select(0);
            $("#TraCuuHoTroCapPhep_tendoan").kendoDropDownList({
                optionLabel: "Tên đồ án"
            }).data("kendoDropDownList").select(0);
            $("#TraCuuHoTroCapPhep_LoaiDat").kendoDropDownList({
                optionLabel: "Loại đất"
            }).data("kendoDropDownList").select(0);

            //Lựa chọn địa điểm đầu tư
            $("#LuaChonDiaDiemDauTu_quanhuyen").kendoDropDownList({
                optionLabel: "Huyện, thành phố, thị xã"
            }).data("kendoDropDownList").select(0);
            $("#LuaChonDiaDiemDauTu_phuongxa").kendoDropDownList({
            }).data("kendoDropDownList").select(0);
            $("#LuaChonDiaDiemDauTu_loaidat").kendoDropDownList({
                optionLabel: "Loại đất"
            }).data("kendoDropDownList").select(0);
            $("#LuaChonDiaDiemDauTu_sovoi").kendoDropDownList({
                optionLabel: "So với"
            }).data("kendoDropDownList").select(0);
            $(".input-button").kendoButton({
            });
            $("#btnSubmitYKien").kendoButton({
            });

        });
    </script>
}
