@model WebGISQuangNam.Models.dataHelper.login
@{
    ViewBag.Title = "Đăng nhập quản lý";
    Layout = "~/Views/Shared/_LayoutNormal.cshtml";
}
<link href="~/Content/loginform.css" rel="stylesheet" />

<div class="container-fluid">

    <div class="row">
        <div class="col-md-12">
            <h4 style="font-weight: 700;padding: 20px;">
            @Html.ActionLink("Quay lại", "Index", "Home", null, new { @class = "btn btn-danger pull-left", @style = "margin-top: -8px;" })
            Đăng nhập vào hệ thống</h4>
            
            <hr />
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-xs-6 col-sm-6">

            <div class="login-page">
                <div class="form">

                    @using (Html.BeginForm())
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                        @Html.EditorFor(model => model.USERNAME, new { htmlAttributes = new { @class = "form-control", @placeholder = "Tên đăng nhập" } })
                        @Html.ValidationMessageFor(model => model.USERNAME, "", new { @class = "text-danger" })
                        @Html.EditorFor(model => model.PASS, new { htmlAttributes = new { @class = "form-control", @placeholder = "Mật khẩu" } })
                        @Html.ValidationMessageFor(model => model.PASS, "", new { @class = "text-danger" })
                        <button type="submit" value="Đăng nhập">Đăng nhập</button>
                    }
                </div>
            </div>

        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
